* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    max-width: 600px;
    margin: 1% auto;
    min-height: 350px;
    h2 {
        margin: 1%;
    }
}